* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
