footer {
  height: 40px;
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 10px; /* for nav and footer lines not touching */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}
