* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  margin-bottom: 10px; /* for nav and header lines not touching */
  margin-left: 10px;
  margin-right: 10px;
}

a, a:link,a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  letter-spacing: 1.5px;
  font-size: 23px;
}

i.fas {
  font-size: 21px;
}

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 30px 30px 30px;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: max-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

nav>a:hover, footer>a:hover {
  color: darkgrey;
}

/* Everything about main content */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  grid-gap:10px;
  justify-content: center;
}

.card {
  border: 1px solid darkgrey;
  width: 226px;
  height: 360px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto 80px;
  justify-self: center;
  justify-content: center;
  transition: 0.2s;
}

.card:hover {
  background-color: lightgrey;
  border:1px solid lightgrey;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.8px;
}

.card-waist {
  width: 87%;
  height: auto;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.card-footer {
  display: flex;
  font-size: 13px;
  justify-self: end;
  align-items: center;
  padding-right: 20px
}

img, video {
  width: inherit;
  object-fit: scale-down;
}

blockquote, p {
  line-height: 1.2;
}

/* Everything about footer */

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 10px; /* for nav and footer lines not touching */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}

/* Everything about responsive design */

@media only screen and (min-width: 600px) and (max-width:900px) {
  main {
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    font-size: 27px;
  }
}

@media only screen and (min-width: 901px) and (max-width:1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    letter-spacing: 7px;
    font-size: 27px;
  }
}

@media only screen and (min-width: 1201px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    letter-spacing: 7px;
    font-size: 27px;
  }
}
