* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 30px; /* for nav and header lines not touching */
}

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: 50px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 30px; /* for nav and footer lines not touching */
  padding: 20px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}
