* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  margin-bottom: 30px; /* for nav and header lines not touching */
}

a, a:link, a:visited {
  text-decoration: none;
  color: black;
}

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: 70px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Everything about main content */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  grid-gap:25px;
}

.card {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: max-content auto 25px;
  width: 100%;
  height: 300px;
  border: 1px solid darkgrey;
  transition: 0.3s;
  border-radius: 6px;
  justify-content: center;
}

.card:hover {
  border: 1px solid red;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.card-waist {
  width: 90%;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 15px;
}

.card-footer {
  display: flex;
  font-size: 13px;
  justify-self: end;
  padding-right: 20px;
}

img, video {
  border-radius: 6px;
}

/* Everything about footer */

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 30px; /* for nav and footer lines not touching */
  padding: 20px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}

/* Everything about responsive design */

@media (min-width: 600px) and (max-width:900px) {
  main {
    grid-template-columns: 50% 50%;
    justify-content: center;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media (min-width: 1201px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
}
