@import "body.css";
@import "nav.css";
@import "icon.css";
@import "footer.css";

/* Everything about header */

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  margin-bottom: 10px; /* for nav and header lines not touching */
  margin-left: 10px;
  margin-right: 10px;
}

a, a:link,a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  letter-spacing: 1.5px;
  font-size: 23px;
}

i.t-spock {
  font-size: 21px;
}

/* Everything about main content */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  grid-gap:10px;
  justify-content: center;
}

.card {
  border: 1px solid darkgrey;
  width: 226px;
  height: 360px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto 80px;
  justify-self: center;
  justify-content: center;
  transition: 0.2s;
}

.card:hover {
  background-color: khaki;
  border:1px solid khaki;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.8px;
}

.card-waist {
  width: 87%;
  height: auto;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.card-footer {
  display: flex;
  font-size: 13px;
  justify-self: end;
  align-items: center;
  padding-right: 20px
}

figure {
  text-align: center;
  line-height: 2;
}

img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  object-fit: scale-down;
}

blockquote, p {
  line-height: 1.2;
}

/* Everything about responsive design */

@media only screen and (min-width: 600px) and (max-width:900px) {
  main {
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    font-size: 27px;
  }
}

@media only screen and (min-width: 901px) and (max-width:1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    letter-spacing: 7px;
    font-size: 27px;
  }
}

@media only screen and (min-width: 1201px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 0px;
  }

  h1 {
    letter-spacing: 7px;
    font-size: 27px;
  }
}
