* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  margin-bottom: 30px; /* for nav and header lines not touching */
}

header>a, header>a:link, header>a:visited {
  text-decoration: none;
  color: black;
}

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: 50px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Everything about main content */

main {
  grid-area: main;
  display: grid;
}

.card {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 250px;
  height: 300px;
  border: 1px solid darkgrey;
  border-radius: 6px;
  justify-content: center;
}

.card-footer {
  border: 1px solid;
}

/* Everything about footer */

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 30px; /* for nav and footer lines not touching */
  padding: 20px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}
