* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  margin-bottom: 10px; /* for nav and header lines not touching */
  margin-left: 10px;
  margin-right: 10px;
}

a, a:link,a:visited {
  text-decoration: none;
  color: black;
}

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 30px 30px 30px;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: max-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a:hover, footer>a:hover {
  border-bottom: 1px solid red;
}

/* Everything about main content */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "author"
  "content";
  justify-self: center;
  grid-gap:25px;
}

.author {
  border-bottom: 1px solid darkgrey;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: author;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
  "av name sc";
}

.avatar {
  grid-area: av;
  display: flex;
  width: 140px;
  height: 140px;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.name-bio {
  padding: 5px;
  grid-area: name;
}

.social-media {
  grid-area: sc;
  padding: 10px;
}

img {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}

p {
  margin:8px;
}

/* Everything about footer */

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 10px; /* for nav and footer lines not touching */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}

/* Everything about responsive design */
