* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 70px;
  grid-template-areas:
  "lg tt";
  border-bottom: 1px solid darkgrey;
  margin-bottom: 10px; /* for nav and header lines not touching */
  margin-left: 10px;
  margin-right: 10px;
}

a, a:link,a:visited {
  text-decoration: none;
  color: black;
}

#logo {
  display: flex;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
}

/*.title {
  display: flex;
  justify-content: center;
  align-items: center;
}*/ /* for top centered post title */

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 30px 30px 30px;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: max-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

nav>a:hover, footer>a:hover {
  border-bottom: 1px solid red;
}

/* Everything about main */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 93%;
  grid-template-rows: auto auto;
  grid-template-areas:
  "author"
  "content";
  justify-content: center;
}

/* Everything about author section */

.author {
  padding-top: 2em;
  border-bottom: 1px solid darkgrey;
  grid-area: author;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "av name"
  "av sc";
  justify-content: flex-start;
  align-items: flex-start;
}

.avatar {
  grid-area: av;
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  padding-bottom: 10px;
}

.name-bio {
  padding-left: 7px;
  grid-area: name;
}

.name-bio>p {
  line-height: 1.5;
  font-size: 16px
}

.social-media {
  grid-area: sc;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: flex-end;
  text-align: right;
}

i.fab {
  font-size: 1.1em;
  padding-right:.25em;
  transition: 0.25s;
}

i.fab:hover {
  color: darkgrey;
}

.avatar>img {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}

/* Everything about content */

.content {
  grid-area: content;
  margin: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
  "tt"
  "date"
  "ph"
  "text";
  justify-content: center;
}

.title {
  grid-area: tt;
}

h1 {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

time {
  display: grid;
  grid-area:date;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.placeholder {
  display: grid;
  grid-area: ph;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.placeholder>img {
  width: 60%;
  object-fit: scale-down;
}

.text {
  display: grid;
  grid-area: text;
}

.text>p {
  font-size: 17px;
  margin-top:17px;
  margin-bottom:17px;
  margin-left: 7px;
  margin-right: 7px;
  line-height: 1.6;
}

blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 0.8em;
  padding-left: 0.8em;
}
/* Everything about footer */

footer {
  height: 50px;
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 10px; /* for nav and footer lines not touching */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}

/* Everything about responsive design */

@media only screen and (min-width: 600px)  {
  main {
    grid-template-columns: 80%;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px)  {
  main {
    grid-template-columns: 580px;
    justify-content: center;
  }

  .author {
    padding-top: 3.5em;
  }
}
