* {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "head head"
  "nav main"
  "ft ft";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* Everything about header */

header {
  grid-area: head;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 70px;
  grid-template-areas:
  "lg tt";
  border-bottom: 1px solid darkgrey;
  margin-bottom: 10px; /* for nav and header lines not touching */
  margin-left: 10px;
  margin-right: 10px;
}

a, a:link,a:visited {
  text-decoration: none;
  color: black;
}

#logo {
  display: flex;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
}

/*.title {
  display: flex;
  justify-content: center;
  align-items: center;
}*/ /* for top centered post title */

/* Everything about main navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 30px 30px 30px;
  justify-content: center;
  border-right: 1px solid darkgrey;
}

.main-nav { /* for each navigation link setup*/
  width: max-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a:hover, footer>a:hover {
  border-bottom: 1px solid red;
}

/* Everything about main */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "author"
  "content";
}

/* Everything about author section */

.author {
  border-bottom: 1px solid darkgrey;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: author;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
  "av name sc";
}

.avatar {
  grid-area: av;
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.name-bio {
  padding: 5px;
  grid-area: name;
}

.social-media {
  grid-area: sc;
  padding: 10px;
}

.avatar>img {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}

p {
  margin:8px;
  line-height: 1.6;
}

/* Everything about content */

.content {
  grid-area: content;
  margin: 10px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
  "tt"
  "date"
  "ph"
  "text";
}

.title {
  grid-area: tt;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

time {
  display: grid;
  grid-area:date;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.placeholder {
  display: grid;
  grid-area: ph;
  width: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.placeholder>img {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}

.text {
  display: grid;
  grid-area: text;
}

blockquote {
  font-style: italic;
  font-weight: lighter;
  font-size: 23px;
  padding: 25px;
}
/* Everything about footer */

footer {
  grid-area: ft;
  display: flex;
  border-top: 1px solid darkgrey;
  margin-top: 10px; /* for nav and footer lines not touching */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.push {
  margin-left: auto; /* for right button to stay far right */
}

/* Everything about responsive design */
